.product-container {
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  margin: 12px;
  padding: 6px;
}
.product-image {
  width: 180px;
}
.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
}
.product-name {
  color: black;
  margin-bottom: 15px;
}
.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: bold;
  margin-bottom: 15px;
}
.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  border: none;
  background-color: #f5ec00;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}